		html, body {
			height: 100%;
		}
		
		body {
			max-width: 100%;
			overflow-x: hidden;
		}
		
		.bg-transparent {
			background: none;
			background-color: transparent;
		}
		
		.page {
			min-height: 100%;
		}
		
		#bgGradient {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0+100 */
			background: -moz-linear-gradient(top, rgba(50,80,130,0.25) 0%, rgba(50,80,130,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(50,80,130,0.25) 0%,rgba(50,80,130,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(50,80,130,0.25) 0%,rgba(50,80,130,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
			height: 100%;
		}
		
		nav {
			font-size: 1.5em !important;
		}
		
		div[id^='pg_'] {
			padding-top: 5em;
			padding-bottom: 5em;
		}
		
		#titleNav .nav-item {
			text-shadow: 2px 2px 4px rgba(50,80,130,0.5);
		}
		
		#titleCoverNav .nav-item {
			transition: ease-in-out 1s;
		}
		
		#titleCoverNav .nav-item:hover {
			text-shadow: 0px 0px 5px rgba(255,255,255,1), 0px 0px 5px rgba(255,255,255,1), 0px 0px 15px rgba(255,255,255,1);
			transition: ease-in-out 0.5s;
		}
		
		#titleNav a {
			color: #fff !important;
		}
		
		/** Only make the translucent nav translucent on desktop. **/
		@media(max-width: 1091px){
			#titleCoverNav a {
				color: rgba(255,255,255,1) !important;
			}
		}
		@media(min-width: 1092px){
			#titleCoverNav a {
				color: rgba(255,255,255,0.5) !important;
			}
		}
		
		#siteNav {
			/*box-shadow: 0px 10px 5px rgba(0,0,0,1);*/
		}
		
		#siteNav a {
			color: rgba(50,80,130,1) !important;
		}
		
		.name {
			color: #fff;
			text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
			text-transform: uppercase;
		}
		
		.custom-toggler.navbar-toggler {
			border-color: rgb(255,255,255);
			background-color: rgba(255,255,255,0.3);
		}
		.custom-toggler .navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}
		
		#siteNav .btn, #siteNav .navbar-toggler, #navbarSiteNavDropdown {
			opacity: 0.75;
		}
		
		#siteNav .btn:hover, #siteNav .navbar-toggler:hover, #navbarSiteNavDropdown:hover {
			opacity: 1;
		}
		
		#siteNav .custom-toggler.navbar-toggler {
			background: -moz-linear-gradient(top,    #C6D4DC 0%, #4E7B94 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #77bbe0 0%, #4E7B94 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,   #C6D4DC 0%, #4E7B94 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C6D4DC', endColorstr='#4E7B94',GradientType=0 ); /* IE6-9 */
			background-color: #8aa2b5;
		}
		
		#siteNav .custom-toggler .navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}
		
		#bgImg {
			background-image: url("../img/bodybg2a.png");
			position: fixed;
		}
		
		#titleImg {
			padding-right: 0em !important;
		}
		
		#title_container {
			padding: 0em !important;
		}
		
		#pg_container {
			height: 100%;
		}
		
		/**
		    The "heading background" header class creates gradient text with a shadow.
		 **/
		 
		/** Container that gives the absolute after-header a frame of reference. **/
		.headingBackground {
			position: relative;
			z-index: 1;
			letter-spacing: 0.20em;
			text-transform: uppercase;
		}
		
		.headingBackground h1, .headingBackground h2 {
			margin: 1em;
			background: -moz-linear-gradient(top,    rgba(255,255,255,1) 0%, #4E7B94 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, #4E7B94 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,   rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, #4E7B94 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4E7B94',GradientType=0 ); /* IE6-9 */
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			position: relative;
		}
		
		.headingBackground h1 {
			font-size: 4rem;
		}

		@media(min-width: 400px) {
			.headingBackground h2, .headingBackground h1 {
				font-size: 2.5rem;
			}
		}
		@media(max-width: 399px) {
			.headingBackground h2, .headingBackground h1 {
				font-size: 2rem;
			}
		}	
		
		/** Hides behind the header text as a pseudo-shadow. **/
		.headingBackground h1:after, .headingBackground h2:after {
			content: attr(data-text);
			left: 0;
			position: absolute;
			text-shadow: 0px 0px 5px rgba(50,80,130,1); /*rgba(0,0,0,0.75);*/
			top: 0;
			z-index: -1;
		}
		
		.parallax_background {
			width: 100%;
			height: 100%;
			left: 50%;
			background: url("../img/bg4b.png");
			display: block;
			z-index: -1;
			margin-top: 0px;
			background-size: cover;
			background-attachment: fixed;
			-webkit-box-shadow: inset -7px 0 9px -5px rgba(0,0,0,0.35);
			-moz-box-shadow:    inset -7px 0 9px -5px rgba(0,0,0,0.35);
			box-shadow:         inset -7px 0 9px -5px rgba(0,0,0,0.35);
			padding: 0em !important;
		}
		
		#sidebar {
			background-image: url("../img/sbtex2.png");
			background-size: cover;
		}
		
		.portCircleBg {
			border-radius: 7em;
			background-color: #fff;
			height: 200px;
			width:  200px;
			position: relative;
		}
		
		.portCircleImg {
			border-radius: 7em;
			background-color: #fff;
			height: 160px;
			width:  160px;
			background-image: url("../img/me1.png");
			background-size: cover;
			position: absolute;
			top: 20px;
			left: 20px;
		}
		
		.portMobile {
			width: 140px;
			height: 140px;
		}
		
		.portMobile > * {
			width: 100px;
			height: 100px;
		}
		
		#mobilePortContainer {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}
		
		#titleBtnContainer {
			position: absolute; 
			transform: translate(-50%, -50%); 
			left: 50%; 
			top: 50%;
		}
		
		.greeting {
			-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
			   -moz-animation: fadein 2s; /* Firefox < 16 */
				-ms-animation: fadein 2s; /* Internet Explorer */
				 -o-animation: fadein 2s; /* Opera < 12.1 */
					animation: fadein 2s;
		}
		
		.secondGreeting {
			opacity: 0;
			-webkit-animation: fadein 1s forwards; /* Safari, Chrome and Opera > 12.1 */
			   -moz-animation: fadein 1s forwards; /* Firefox < 16 */
				-ms-animation: fadein 1s forwards; /* Internet Explorer */
				 -o-animation: fadein 1s forwards; /* Opera < 12.1 */
					animation: fadein 1s forwards;

			-webkit-animation-delay: 1s;
			   -moz-animation-delay: 1s;
			        animation-delay: 1s;
		}
		
		.thirdGreeting {
			-webkit-animation-delay: 1.75s;
			   -moz-animation-delay: 1.75s;
			        animation-delay: 1.75s;
		}
		
		#pg_1 {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100,ffffff+100&0+0,1+25,1+100 */
			background: -moz-linear-gradient(top,    rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,   rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		}
		
		#pg_2 {
			background-color: #fff;
		}
		
		#pg_last {
			background-color: #333;
		}
		
		#footerBottom {
			position: absolute;
			bottom: 1em;
		}
		
	    .btn {
			background: #e0e0e0;
			
			background-image: -webkit-linear-gradient(top, #e0e0e0, #4E7B94);
			   background-image: -moz-linear-gradient(top, #e0e0e0, #4E7B94);
			    background-image: -ms-linear-gradient(top, #e0e0e0, #4E7B94);
			     background-image: -o-linear-gradient(top, #e0e0e0, #4E7B94);
			        background-image: linear-gradient(to bottom, #e0e0e0, #4E7B94);
			
			-webkit-border-radius: 28;
			   -moz-border-radius: 28;
			        border-radius: 28px;
					
			text-shadow: 1px 1px 3px #666666;
			-webkit-box-shadow: 0px 1px 3px #333333;
			   -moz-box-shadow: 0px 1px 3px #333333;
			        box-shadow: 0px 1px 3px #333333;
					
			color: #ffffff;
			border: solid #fff 1px;
			text-decoration: none;
			transition: ease-in-out 0.5s;
	    }

		.btn:hover {
			background: #adcde5; /*7ab9cc;*/
			text-shadow: 0px 0px 5px rgba(255,255,255,1), 0px 0px 5px rgba(255,255,255,1), 0px 0px 15px rgba(255,255,255,1);
			transition: ease-in-out 0.5s;
		}
		
		.titleBtn {
			font-size: 31px;
			padding: 10px 20px 10px 20px;
		}
		
		/** defines the fadein keyframes for different browsers **/
		@keyframes fadein {
			from { opacity: 0; }
			to   { opacity: 1; }
		}
		@-moz-keyframes fadein {
			from { opacity: 0; }
			to   { opacity: 1; }
		}
		@-webkit-keyframes fadein {
			from { opacity: 0; }
			to   { opacity: 1; }
		}
		@-ms-keyframes fadein {
			from { opacity: 0; }
			to   { opacity: 1; }
		}
		@-o-keyframes fadein {
			from { opacity: 0; }
			to   { opacity: 1; }
		}
		
		/** Less navbar padding on mobile. **/
		@media(max-width: 992x){
			nav {
			    padding-left: 1em !important;
			}
		}
		
		/** resizes the portrait at the xs breakpoint **/
		@media(max-width: 768px){
			.portMobile {
				width:  105px;
				height: 105px;
			}
			
			.portMobile > * {
				width:  75px;
				height: 75px;
			}
			
			.portCircleImg {
				top:  15px;
				left: 15px;
			}
		}
		
		/** 
		    Removes excessive padding from jumbotrons at smaller screen sizes. 
		    Formats the greeting in particular.
		 **/
		@media(max-width: 1250px){
			.jumbotron {
				padding: 0rem 0rem !important;
			}
		}