@font-face {
	font-family: "global";
	font-style: normal;
	font-weight: 300;
	src: local(-apple-system),
	local(BlinkMacSystemFont),
	local('.SFNSText-Regular'),
	local("Segoe UI"),
	local(Roboto),
	local("Helvetica Neue"),
	local("Arial"), 
	local("sans-serif"),
	local("Apple Color Emoji"),
	local("Segoe UI Emoji"),
	local("Segoe UI Symbol");
}

@font-face {
	font-family: "Portfolio LD Glyphs";
	src: local("pldg.ttf"),
	url("pldg.ttf");
}
	
html, body {
	padding: 0;
	margin: 0;
	background-image: url("../assets/stripes-light.png"), url("../assets/stripe_texture.png");
	background-position: center, left top;
    background-repeat: repeat, repeat;
	background-color: rgba(255, 255, 255, 0.25);
    background-blend-mode: lighten;
	height: 100%;
	position: relative;
	z-index: -3;
}

body {
	line-height: 1.5;
	font-size: 100%;
    text-decoration: none;
	min-width: 320px;
    line-height: 1.5;
	font-family: "global";
}

.hidden {
	display: none;
}

#loading {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	z-index: 99;
	text-align: center;
}

#loading_img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -110px 0 0 -110px;
	height: 220px;
	width: 220px;
	z-index: 100;
}

#logo_bar {
	padding: 1.25rem 3rem;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
	text-align: right;
	
	/* alternative: 
	background: linear-gradient(
		rgb(232, 232, 232) 0%, 
		rgb(255, 255, 255) 50%, 
		rgb(242, 242, 242) 50%, 
		rgb(196, 196, 196) 100%
	);
    border-bottom: 1px solid rgb(204, 204, 204);*/
}

#logo {
	float: left;
}

#logo:after, #soc_med:after {
	clear: both;
}

#logo_bar > * {
	display: inline-block;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    padding: .55rem .7rem .55rem .7rem;
	margin-left: 0.25rem;
    transition: ease-in-out 1s;
	cursor: pointer;
	
	background: #e0e0e0;
    background-image: -webkit-linear-gradient(top, #e0e0e0, #4E7B94);
       background-image: -moz-linear-gradient(top, #e0e0e0, #4E7B94);
        background-image: -ms-linear-gradient(top, #e0e0e0, #4E7B94);
         background-image: -o-linear-gradient(top, #e0e0e0, #4E7B94);
            background-image: linear-gradient(to bottom, #e0e0e0, #4E7B94);
	
    -webkit-border-radius: 28;
       -moz-border-radius: 28;
            border-radius: 28px;
			
    text-shadow: 1px 1px 3px #666666;
	
    -webkit-box-shadow: 0px 1px 3px #333333;
       -moz-box-shadow: 0px 1px 3px #333333;
            box-shadow: 0px 1px 3px #333333;
			
    color: #ffffff;
    border: solid #fff 1px;
    font-weight: 400;
	font-size: 1.25rem;
    text-decoration: none;
}

.btn:hover {
	background: #adcde5; /*7ab9cc;*/
	text-shadow: 0px 0px 5px rgba(255,255,255,1), 0px 0px 5px rgba(255,255,255,0.5), 0px 0px 15px rgba(255,255,255,1);
	transition: ease-in-out 0.5s;
}

#bar_buttons {
	word-spacing: 0.25rem;
	font-family: "Portfolio LD Glyphs";
	font-size: 3rem;
}

#bar_buttons > * {
	color: #ff0000 !important;
}

.color_gradient_1 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0080ff+0,7bff00+100 */
	background: #0080ff; /* Old browsers */
	background: -moz-linear-gradient(top, #0080ff 0%, #7bff00 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #0080ff 0%,#7bff00 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #0080ff 0%,#7bff00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0080ff', endColorstr='#7bff00',GradientType=0 ); /* IE6-9 */
}

.color_gradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5c258d+0,4389a2+100 */
background: rgb(92,37,141); /* Old browsers */
background: -moz-linear-gradient(top, rgba(92,37,141,1) 0%, rgba(67,137,162,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(92,37,141,1) 0%,rgba(67,137,162,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(92,37,141,1) 0%,rgba(67,137,162,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c258d', endColorstr='#4389a2',GradientType=0 ); /* IE6-9 */
}

header > div {
	position: relative;
}

header > .z-depth-3 {
	z-index: 100;
}

#logo {		 
	position: absolute;
	top: 0.25em;
	left: 0.5em;
	letter-spacing: -0.2em;
	font-size: 8em;
}

#logo a {
	text-decoration: none;
	color: #fff;
	text-shadow: 0px 0px 10px rgba(255,255,255,0.5), 
	             0px 0px 10px rgba(255,255,255,0.1), 
	             0px 0px 5px rgba(255,255,255,0.4);
}

#soc_med {
	float: right;
	text-align: center;
	background-color: #333;
	padding: 0 0.5em;
	box-shadow: inset 10px 0 9px -7px rgba(0,0,0,0.25);
}

#scene {
	z-index: 99;
	position: relative;
}

.diag_tex {
	background-image: url("../assets/stripe_texture.png");
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

nav {
	position: relative;
}

nav ul {
	text-align: center;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	width: 20%;
}

nav li a:link, nav li a:visited {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1rem 0 1rem 0;
}

#wrapper {
	height: 100%;
	display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
	padding: 1rem;
	text-align: center;
	flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

footer {
    padding: 0 0 4rem 0;
	text-align: center;
	background-color: #333;
	color: #666;
	font-size: 0.75rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-height: 10rem;
	z-index: 0;
	overflow: hidden;
}

footer a {
	text-decoration: none;
	color: #888;
}

footer a:hover {
	color: #808080;
}

.footer {
	flex: 1 auto;
	max-width: 40%;
	padding: 1rem 0 0 1rem;
	margin: 0;
	text-align: center;
	z-index: 3;
}

.footer:first-of-type {
	margin: auto;
	text-align: left;
}

#f_links {
	flex: 2 100%;
	line-height: 80%;
	margin-right: 5em;
	min-height: 3rem;
}

footer:after {
	display: block;
	position: relative;
	content: '';
	width: 90rem;
	height: 50rem;
	bottom: -50px;
	left: 50%;
	margin-left: -50px;
	background-color: #444;
	border: 2px dashed rgba(255,255,255,0.1);
			
	/** z-depth-3 from material design **/
	-webkit-box-shadow: 0 0 0 6px #444, 0 6px 60px 0 rgba(0, 0, 0, 0.25), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
			box-shadow: 0 0 0 6px #444, 0 6px 60px 0 rgba(0, 0, 0, 0.25), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
	
		-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			
	z-index: 1;
}

/*@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}*/

/*#f_content {
	display: inline-block;
	text-align: center;
}

#f_content > * {
	display: inline-block;
	max-width: 48%;
	min-width: 30%;
	margin: 1rem;
}*/

.light_theme {
       -moz-box-shadow: inset 0 0 0 1px #e6e6e6;
    -webkit-box-shadow: inset 0 0 0 1px #e6e6e6;
            box-shadow: inset 0 0 0 1px #e6e6e6;

	background: #eee;
    background:     -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#B5B5B5));
    background: -moz-linear-gradient(#eee, #B5B5B5);/**#d1d1d1**/
    background:      linear-gradient(#eee, #B5B5B5);
	
    color: #555;
    text-shadow: 0 1px 0 #fafafa;
}

nav.light_theme ul {
	border-top: 1px solid rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

nav.light_theme li {
	border-left: solid 1px #B0B0B0;
	transition: 0.3s ease-in-out;
}

nav.light_theme li a:link, nav li a:visited {
	border-left: solid 1px #F2F2F2;
    color: #888;
}

nav.light_theme li:hover, nav.light_theme li:hover a {
	background: #ababab;
    -webkit-box-shadow: inset 2px 2px 4px rgba(0,0,0,0.14), inset 2px 2px 4px rgba(0,0,0,0.12), inset 2px 2px 4px rgba(0,0,0,0.3);
	   -moz-box-shadow: inset 2px 2px 4px rgba(0,0,0,0.14), inset 2px 2px 4px rgba(0,0,0,0.12), inset 2px 2px 4px rgba(0,0,0,0.3);
	        box-shadow: inset 2px 2px 4px rgba(0,0,0,0.14), inset 2px 2px 4px rgba(0,0,0,0.12), inset 2px 2px 4px rgba(0,0,0,0.3);
	
	text-shadow: 0 1px 0 #dadada;
	transition: 0.5s ease-in-out;
    color: #555;
}

nav.light_theme li.first {
	border-left: solid 1px #B0B0B0;
}

nav.light_theme li.last {
	border-right: solid 1px #F2F2F2;
}

nav.light_theme li.last a:link, nav.light_theme li a:visited {
	border-right: solid 1px #B0B0B0;
}

.dark_theme {
}

@media (min-width: 769px) {
	#scene {
		height: 15rem;
	}
	
	nav li a:link, nav li a:visited {
		padding: 0.5rem 0 0.5rem 0;
		font-size: 1.25rem;
	}
	
	nav.light_theme li a:link, nav li a:visited {
		font-family: "Roboto", "global";
		font-weight: 800;
	}
	
	#soc_med {
		width: 58px;
	}

	#soc_med img {
		height: 55px;
		width: auto;
	}
	
	#port_res {
		margin-right: 5rem;
	}
}

@media (max-width: 768px) {
	#scene {
		height: 10rem;
	}
	
	nav ul {
		text-align: right;
	}
	
	nav li {
		width: 20%;
		text-align: center;
	}
	
	nav li a:link, nav li a:visited {
		padding: 0.5rem 0 0.5rem 0;
		font-size: 1rem;
	}
	
	nav.light_theme li a:link, nav li a:visited {
		font-family: "Roboto", "global";
		font-size: 0.7rem;
		color: #555;
	}
	
	#soc_med {
		width: 35px;
	}

	#soc_med img {
		height: 35px;
		width: auto;
	}
	
	#port_res {
		margin-right: 2rem;
	}
	
	.btn {
		font-size: 0.8rem;
	}
}

@media (max-width: 450px) {
	nav li a:link, nav li a:visited {
		font-size: 0.6rem;
		letter-spacing: 0.05rem;
	}
	
	nav.light_theme li a:link, nav li a:visited {
		text-transform: lowercase;
		/*color: #efefef;
		text-shadow: 0 0 4px rgba(0,0,0,0.5), 0 0 1px rgba(0,0,0,1);*/
	}
	
	#logo {
		top: 0.15em;
		left: 0.2em;
	}
	
	#logo_bar {
		padding: 1rem 1.5rem;
	}
	
	#port_res {
		margin-right: 1rem;
	}
}

@media (max-width: 350px) {
	nav li a:link, nav li a:visited {
		font-size: 0.5rem;
		letter-spacing: 0.05rem;
	}
			
	nav.light_theme li a:link, nav li a:visited {
		/*text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
		color: #555;*/
	}
}

@media (min-width: 980px and max-width: 1250px) {
	nav li a:link, nav li a:visited {
		font-size: 1.5rem;
	}
}

@media (min-width: 1250px) {
	nav li a:link, nav li a:visited {
		font-size: 2rem;
	}
	
	#logo {
		font-size: 10em;
		top: 0.05em;
		text-shadow: 0px 0px 10px rgba(0,0,0,0.1), 0px 0px 5px rgba(0,0,0,0.4);
	}
}

/** 
  The portfolio/resume buttons are on the logo bar whenever possible
  but on really tiny mobile screens, they're at the top of content.
**/
@media (max-width: 405px) {
	#port_res {
		display: none;
	}
	
	#mobile_port_res {
		display: block;
	}
}

@media (min-width: 406px) {
	#port_res {
		display: inline-block;
	}
	
	#mobile_port_res {
		display: none;
	}
}